/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Global custom styles
   ========================================================================== */

.container-fluid,section{
    width:100%;
    margin:0 auto;

}
img{
    height:100%;
    width:100%;

}
body{
    font-family: 'Merriweather', serif;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: transparent;
    border:none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}

/* ==========================================================================
  navbar's custom styles
   ========================================================================== */

.navbar-default {
    background-color: transparent;
    border: none;
}
.nav-border{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: 400;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgb(175, 175, 155);
    background-color: transparent;
    border-bottom: 1px solid #b1057c;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgb(175, 175, 155);
    background-color: transparent;
}
.navbar-default .navbar-nav>.social {
    padding: 7px 3px;
}
.navbar-default .navbar-nav>.social>a {
    position: relative;
    display: block;
    padding: 0px 0px;
     color: #750748;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 7px;
}
.fa {
    font-size: 13px;
}

.fa-stack-2x {
    font-size: 1.7em;
    padding: 4px;
}


/* ==========================================================================
   slider's custom styles
   ========================================================================== */
.slider{
    padding-top:92px;
    min-height: 100vh;
    position: relative;

}
.caption-text{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.caption-text .hi{
      background-color: rgb(117, 7, 72);
    color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 63px;
    vertical-align: middle;
    margin-bottom: 15px;
    padding: 19px 13px;
    animation-duration: 4s;
    animation-delay:1s;
    animation-iteration-count:1;
}
.caption-text .btn-default{
   background-color: rgb(117, 7, 72);
    height: 60px;
    width: 60px;
    margin-top:20px;
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}
.btn-default .fa {
    font-size: 40px;
    color: white;
}
#typed {
color:white;
font-size:40px;
}

.typed-cursor{
   color:white;
font-size:40px; 
}

.modal-body {
    position: relative;
    padding: 0;
    background-color: transparent;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
    height: 400px;
    width: 100%;
    border: none;
}
.modal.in .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(62, 13, 55, 0.71);
}
.close {
    float: right;
    font-size: 57px;
    font-weight: 400;
    line-height: 0.7;
    color: rgba(74, 66, 66, 0.38);
    text-shadow: 0 2px 0 #fd514e;
    filter: alpha(opacity=20);
    opacity: 1;
    margin-right: 10px;
}
/* ==========================================================================
   code for animated blinking cursor
   ========================================================================== */

        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

/* ==========================================================================
   sevice section's custom styles
   ========================================================================== */

.services-section {
    height: auto;
    padding-top: 90px;
    text-align: center;
    background: #fff;
    padding-bottom: 90px;

}
.services-section h1{
    color:rgb(117, 7, 72);
    padding-bottom: 70px;
    font-style: italic;
    font-weight: 700;

}
.services-section .image{
        height: 150px;
    width: 190px;
    margin:0 auto;
    animation-duration: 1.5s;
    animation-iteration-count:1;
}
 .image>.img-responsive {
    display: block;
    max-width: 100%;
    height: 100%;
}
.services-section .img-caption h4{
color:rgb(117, 7, 72);
padding:20px 0px 7px 0px;
font-weight: normal;
font-style: none;
}
.services-section .img-caption{
    width:80%;
    margin:0 auto;
}
.services-section .img-caption p{
font-weight: 400;
font-style: italic;
padding-bottom: 20px;
}


/* ==========================================================================
   about section's custom styles
   ========================================================================== */
.about-section {
    height: auto;
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
    background: transparent;
}
.inner-wrapper{
    background-color: rgba(11, 10, 8, 0.84);
    padding-top: 20px;
}
.inner-image{
    width: 97%;
    height:400px;
    margin:0 auto;
}
.members{
    margin-bottom: 20px;
    border-top:2px solid white;
}
.inner-text{
  color: #c3baba;
      padding: 50px 0;
}
.inner-text p{
    text-align: left;
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
}

.social-icons{
display: inline;
}
.social-icons ul{
list-style: none;
display: inline;
}
.social-icons .socials{
display: inline;
}
.social-icons .socials a{
        color: #750748;
    text-decoration: none;
    font-size: 18px;
}
/* ==========================================================================
   portfolio section's custom styles
   ========================================================================== */

.portfolio-section {
          height: auto;
    padding-top: 70px;
    text-align: center;
    background: rgba(20, 19, 18, 0.8);
    padding-bottom: 70px;
}
.portfolio-section h1{
    color:#ffffff;
    padding-bottom: 2px;
    font-style: italic;
    font-weight: 700;

}
.portfolio-section p{
        color: #ffffff;
    padding-bottom: 40px;
    font-style: italic;
    font-weight: 400;

}
.carousel-items{
   height: 340px;
    width: 95%;
    border-radius: 7px;
    box-shadow: 1px 12px 15px 2px;
    overflow: visible;
}
.carousel-items>.img-responsive{
    height:100%;
    border-radius: 7px;
}
.shadow{
    position: relative;
}
.carousel-items:hover .shadow{
     height: 340px;
    background-color: rgba(117, 7, 72, 0.42);
    -moz-transition:.9s;
    -webkit-transition:.9s;
    transition:.9s;
    transform: translateY(-100%);
     border-radius: 7px;
}
.carousel-items:hover .shadow-content p{
     background-color: rgba(117, 7, 72, 0.62);
    padding: 4px;
    color:#ffffff;
    display: block; 
}
.carousel-items:hover .shadow-content a{
   background-color: rgb(117, 7, 72);
    padding: 4px 15px;
    color:#ffffff; 
    display: block;
}
.shadow-content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#ffffff;
}
.shadow-content p{
   display: none;
}
.shadow-content a{
 display: none;
}
.shadow-content a:hover{
    background-color: transparent;
        color:#ffffff; 
}
.buttons{
   text-align: left;
    margin-bottom: 23px;
    border-bottom: 3px solid #6f0744;
    padding-bottom: 4px;
    margin-top: 16px;
}
.buttons span{
   color: #ffffff;
    font-size: 26px;
    background-color: #6f0744;
    padding: 5px 40px;
    border-top-right-radius: 60px;
    padding-left: 10px;
}



/* ==========================================================================
  contact section's custom styles
   ========================================================================== */
.contact-section{
    height: auto;
    text-align: center;
    background: rgba(244, 244, 244, 0.86);
    background:url('../img/world-bg.jpg');
    padding: 40px 0;
}
.contact-section h1{
    color:#6f0744;
    padding-bottom: 35px;
    font-style: italic;
    font-weight: 700; 
}
.contact-form{
       background-color: rgba(0, 0, 0, 0.63);
    padding: 70px 31px;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #750748;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.address{
       background-color: rgba(0, 0, 0, 0.63);
    padding: 60px 31px;
    width: 85%;
    margin: 0 auto;
    color: white;
    padding-bottom: 27px;
}
#map{
      height: 223px;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.63);
    width: 85%;
    margin: 0 auto;
}
.contact-form .btn-default {
    color: #ffffff;
    background-color: #6f0744;
    border-color: #ccc;
    padding: 13px 66px;
}
.address .fa {
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 6px;
    background-color: #623349;
    height: 30px;
    width: 30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


   @media (min-width: 320px) and (max-width: 742px){
   
.caption-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.caption-text .hi {
    height: 93px;
    width: 93px;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 41px;
    margin-bottom: 0;
    padding: 19px 0px;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    display: none;
}
#typed {
    color: white;
    font-size: 20px;
}
.caption-text .btn-default {
    margin-top: 6px;
   
}
.navbar-default .navbar-nav>li>a {
    background-color: black;
}
.navbar-default .navbar-nav>.social>a {
    display: none;
}
.navbar-default .navbar-nav>.social {
    padding: 7px 3px;
    display: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    width: 50%;
    float: right;
}

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
